# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output

Client UI/dist
Client UI/tmp
Client UI/out-tsc
CSP UI/dist
CSP UI/tmp
CSP UI/out-tsc

# dependencies
UI/node_modules
Client UI/node_modules
CSP UI/node_modules

# IDEs and editors
Client UI/.idea
CSP UI/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
Client UI/.sass-cache
Client UI/connect.lock
Client UI/coverage
Client UI/libpeerconnection.log
CSP UI/.sass-cache
CSP UI/connect.lock
CSP UI/coverage
CSP UI/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
Client UI/typings
CSP UI/typings

# System Files
.DS_Store
Thumbs.db

# Truffle Files
/build
Commands.txt
truffle.js

