<div ng-app="clientApp" ng-controller="clientControl">
  <div class="container1">

    <h1>Bazaar Blockchain Demonstration</h1>
    <h2>Portal: Client</h2>
    <hr>

    <h3>Ethereum Wallet Details</h3>
    <p>Account: <b>{{transferFrom}}</b></p>
    <p>Balance: <b>{{balance}} ETH</b></p>
    <hr>

    <h3>Published Plans</h3>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="col-sm-11" id="planA">
            <p><b>Plan A</b></p>
            <p>OS Type: <b><span id="planA-OS">Linux 32-bit</span></b></p>
            <p>RAM Specification: <b><span id="planA-RAM">4 GB</span></b></p>
            <p>Price: <span id="planA-price" style="display:none;">25</span><b>$25/hour</b></p>
            <p><button type="button" class="negBtn" data-toggle="modal" data-target="#negotiateFormModal" (click)="fillFields('planA')">Negotiate Service</button></p>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-11" id="planB">
            <p><b>Plan B</b></p>
            <p>OS Type: <b><span id="planB-OS">Linux 64-bit</span></b></p>
            <p>RAM Specification: <b><span id="planB-RAM">8 GB</span></b></p>
            <p>Price: <span id="planB-price" style="display:none;">40</span><b>$40/hour</b></p>
            <p><button type="button" class="negBtn" data-toggle="modal" data-target="#negotiateFormModal" (click)="fillFields('planB')">Negotiate Service</button></p>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-11" id="planC">
            <p><b>Plan C</b></p>
            <p>OS Type: <b><span id="planC-OS">Windows</span></b></p>
            <p>RAM Specification: <b><span id="planC-RAM">8 GB</span></b></p>
            <p>Price: <span id="planC-price" style="display:none;">65</span><b>$65/hour</b></p>
            <p><button type="button" class="negBtn" data-toggle="modal" data-target="#negotiateFormModal" (click)="fillFields('planC')">Negotiate Service</button></p>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
      
      <!-- Modal -->
      <div class="modal fade" id="negotiateFormModal" tabindex="-1" role="dialog" aria-labelledby="negotiateFormModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="negotiateFormModalLabel">Negotiate</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- <p><b>Service ID</b></p>
              <input type="text" [(ngModel)]="serviceID1" placeholder="Enter Service ID" name="sID" required> -->
              <p><b>Service Status</b></p>
              <select [(ngModel)]="serviceStatus1" class="select">
                <option value=1>Advisory</option>
                <option value=2>Solicited</option>
                <option value=3>Accepted</option>
                <!-- <option value=4>Rejected</option> -->
              </select>
              <p><b>Service Details</b></p>
              <p>OS Type</p>
              <input type="text" [(ngModel)]="serviceOSType1" placeholder="Enter OS Specification" name="sOS" id="sOS" required>
              <p>RAM</p>
              <input type="text" [(ngModel)]="serviceRAM1" placeholder="Enter RAM Specification" name="sRAM" id="sRAM" required>
              <p><b>Service Price</b></p>
              <input type="text" [(ngModel)]="servicePrice1" placeholder="Enter Service Price" name="sPrice" id="sPrice" required>
              <button (click)="addNegotiation(serviceStatus1, serviceOSType1, serviceRAM1, servicePrice1)" type="submit"
                class="registerbtn">Negotiate Service</button>
              <hr>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Negotiate</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <h3>Ongoing Negotiations</h3> <!--Edit table UI-->
    <table id="offers">
      <tr>
        <th>Service</th>
        <th>State</th>
        <th>Price</th>
        <th>RAM</th>
        <th>OS</th>
        <th>Negotiate</th>
      </tr>
      <tr *ngFor="let disc of discussions">
        <td>{{ disc.service }}</td>
        <td>{{ disc.state }}</td>
        <td>{{ disc.price }}</td>
        <td>{{ disc.ram }}</td>
        <td>{{ disc.os }}</td>
        <td><button *ngIf="disc.isCSP" id="negBtn2">Negotiate</button></td>
      </tr>
    </table>
    <hr>
    
  </div>
</div>