<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet> -->

<script  type="text/javascript" src="app.js"></script>
<div ng-app="servProvApp" ng-controller="servProvControl">
  <div class="container">
    <h1>Bazaar Blockchain Demonstration</h1>
    <h2>Portal : Service Provider</h2>
    <hr>

    <h3>Ethereum Wallet Details</h3>
    <p>Account: <b>{{transferFrom}}</b></p>
    <p>Balance: <b>{{balance}} ETH</b></p>
    <hr>

    <h3>Add New Services</h3>
    <p><b>Service ID</b></p>
      <input type="text" [(ngModel)]="serviceID" placeholder="Enter Service ID" name="sID" required>
    <p><b>Service Details</b></p>
    <p>OS Type</p>
    <input type="text" [(ngModel)]="serviceOSType" placeholder="Enter OS Specification" name="sOS" required>
    <p>RAM</p>
    <input type="text" [(ngModel)]="serviceRAM" placeholder="Enter RAM Specification" name="sRAM" required>
    <p><b>Service Price</b></p>
    <input type="text" [(ngModel)]="servicePrice" placeholder="Enter Service Price" name="sPrice" required>
    <button (click)="addNewService(serviceID, serviceOSType, serviceRAM, servicePrice)" type="submit" class="registerbtn">Add New Service</button>
    <hr>

    <h3>Negotiation Zone</h3>
    <p><b>Service ID</b></p>
      <input type="text" [(ngModel)]="serviceID1" placeholder="Enter Service ID" name="sID" required>
    <p><b>Service Status</b></p>
    <select [(ngModel)]="serviceStatus1" class="select">
        <option value=1>Advisory</option>
        <option value=2>Solicited</option>
        <option value=3>Accepted</option>
        <option value=4>Rejected</option>
      </select>
    <p><b>Service Details</b></p>
    <p>OS Type</p>
    <input type="text" [(ngModel)]="serviceOSType1" placeholder="Enter OS Specification" name="sOS" required>
    <p>RAM</p>
    <input type="text" [(ngModel)]="serviceRAM1" placeholder="Enter RAM Specification" name="sRAM" required>
    <p><b>Service Price</b></p>
    <input type="text" [(ngModel)]="servicePrice1" placeholder="Enter Service Price" name="sPrice" required>
    <button (click)="negotiateService(serviceID1, serviceStatus1, serviceOSType1, serviceRAM1, servicePrice1)" type="submit" class="registerbtn">Negotiate Service</button>
    <hr>

    <h3>Ongoing Negotiations</h3>
    <hr>
  </div>
</div>