<div ng-app="servProvApp" ng-controller="servProvControl">
  <div class="container1">

    <h1>Bazaar Blockchain Demonstration</h1>
    <h2>Portal: Cloud Service Provider</h2>
    <hr>

    <h3>Ethereum Wallet Details</h3>
    <p>Account: <b>{{transferFrom}}</b></p>
    <p>Balance: <b>{{balance}} ETH</b></p>
    <hr>

    <h3>Ongoing Negotiations</h3> <!--Edit table UI-->
    <table id="offers">
      <tr>
        <th>ID</th>
        <th>Service</th>
        <th>State</th>
        <th>Price</th>
        <th>RAM</th>
        <th>OS</th>
        <th>Negotiate</th>
      </tr>
      <tr *ngFor="let disc of discussions">
        <td>{{ disc.id }}</td>
        <td>{{ disc.service }}</td>
        <td>{{ disc.state }}</td>
        <td>{{ disc.price }}</td>
        <td>{{ disc.ram }}</td>
        <td>{{ disc.os }}</td>
        <td><button type="button" id="negBtn2" data-toggle="modal" data-target="#negotiateFormModal"
            (click)="fillFields(disc.id, disc.price, disc.ram, disc.os);"
            *ngIf="!disc.isCSP">Negotiate
            further</button></td>
            <!--Implement onclick autofill field-->
      </tr>
    </table>
    <hr>
    
    <!-- Modal -->
    <div class="modal fade" id="negotiateFormModal" tabindex="-1" role="dialog"
      aria-labelledby="negotiateFormModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="negotiateFormModalLabel">Negotiate</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- <p><b>Service ID</b></p>
              <input type="text" [(ngModel)]="serviceID1" placeholder="Enter Service ID" name="sID" required> -->
            <p><b>Service Status</b></p>
            <select [(ngModel)]="serviceStatus2" class="select">
              <option value=1>Advisory</option>
              <option value=2>Solicited</option>
              <option value=3>Accepted</option>
              <option value=4>Rejected</option>
            </select>
            <p><b>Service Details</b></p>
            <p>OS Type</p>
            <input type="text" [(ngModel)]="serviceOSType2" ng-value="os" placeholder="Enter OS Specification" name="sOS" id="sOS"
              required>
            <p>RAM</p>
            <input type="text" [(ngModel)]="serviceRAM2" ng-value="price" placeholder="Enter RAM Specification" name="sRAM" id="sRAM"
              required>
            <p><b>Service Price</b></p>
            <input type="text" [(ngModel)]="servicePrice2" ng-value="price" placeholder="Enter Service Price" name="sPrice" id="sPrice"
              required>
            <input type="hidden" [(ngModel)]="ID2" ng-value="ID" name="sID" id="sID"
              required>
            <button (click)="updateDiscussion(ID2, serviceStatus2, serviceOSType2, serviceRAM2, servicePrice2)"
              type="submit"
              class="registerbtn">Send Offer</button>
            <hr>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Negotiate</button> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>